* {
    margin: 0;
    text-align: center;
}

#banner {
    background-image: url('/img/Header\ Background.png');
    background-position: bottom;
    background-repeat: no-repeat;
    max-width: 100%;
    background-size: cover;
    height: 470px;
    
}

h1 {
    font-family: 'Luckiest Guy', sans-serif;
    color: #fff;
    padding: 40px 20px;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    width: 210px;
    text-align: start;
}

#banner p {
    text-align: center;
    padding: 0 15px;
    text-align: justify;
    color: #fff;
    font-size: 16px;
    margin-bottom: 25px;
}

p {
    font-family: 'Open Sans', sans-serif;
}
    

#button {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 17px 18px 6px 18px;
    border-radius: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.button-1 {
    background-color: #fff;
}

.button-2 {
    background-color: rgb(41, 40, 40);
    color: #fff;
}

#content {
    margin: auto;
}

#content h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 24px;
    padding: 0 15px 25px 15px;
    text-align: start;
}

#content p {
    text-align: start;
    padding: 0 15px 30px 15px;
}

.second h1 {
    background-color: lightyellow;
    color: black;
    width: 90vw;
    font-size: 26px;
}

.second p {
    background-color: lightyellow;
    
}

footer {
    background-color:#23272A;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 230px;
    font-family: 'Open Sans', sans-serif;
}

footer aside {
    font-weight: bold;
}

footer img {
    max-width: 50%;
    align-self: center;
    margin-top: 10px;
}